<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099396707036-sm8drfv4raggojfa55i3lorbf1a7boe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099396707036-sm8drfv4raggojfa55i3lorbf1a7boe0</string>
	<key>API_KEY</key>
	<string>AIzaSyBWIv6Vtqnbq0QYIy04zYewsUVJhHr4klQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1099396707036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOSAPPCLASS.FirebaseAuth-AdamDodson</string>
	<key>PROJECT_ID</key>
	<string>fir-authadamdodson</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authadamdodson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099396707036:ios:8ccad41229931021aefa19</string>
	<key>DATABASE_URL</key>
	<string>https://fir-authadamdodson.firebaseio.com</string>
</dict>
</plist>